@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using UmbracoCMS.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.AboutCallbackSection)Model.Content;
    var settings = Model.Settings as ContentModels.AboutCallbackSettings;

    var formVM = new CallbackFormViewModel
            {
                Options = settings?.CallbackRequestOptions ?? []
            };
}


<section class="about-section">
    <div class="about-container">

       
        <div class="about-text">
            <div class="rte">
                @Html.Raw(content.AboutBody)
            </div>
        </div>

        <div class="about-card">
            <div class="about-card-header">
                <p>@content.FormTitle</p>
            </div>
            <p class="about-card-description">@content.FormDescription</p>
            <partial name="Partials/Forms/_CallbackForm" model="formVM" />


            @if (TempData["FormSuccess"] != null)
            {
                <div class="bg-green-50 text-green-700 p-4 mx-[2rem] mb-4 rounded-md">
                    @TempData["FormSuccess"]
                </div>
			}
            else if (TempData["FormError"] != null)
            {
                <div class="bg-red-50 text-red-700 p-4 mx-[2rem] mb-4 rounded-md">
                    @TempData["FormError"]
			    </div>

            }


        </div>

    </div>
</section>

